<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# whisper_app: http://ogp.me/ns/fb/whisper_app#">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Whisper - Share Secrets, Express Yourself, Meet New People</title>
        
          <meta name="description" content="Share your secrets, discover new worlds and make new friends on Whisper. Download the app today." />
        
        <meta name="keywords" content="Whisper, Whisper App, PostSecret, Post Secret, Secrets App, Whisper Tumblr, Tumblr Theme, Secrets, Whisper Iphone App, Tumblr Secrets" />
        <meta name="author" content="WhisperText LLC." />
        <meta name="p:domain_verify" content="39f1a28de8c0a1087c6d6a7178d96d1f" >
        <meta name="google-site-verification" content="uJPSHh0mi1CNlZoWfhNrEZY1Yfk7WerLjBclV6_vAhI" />
        <meta property="fb:app_id" content="107682879356830" />
<meta property="og:type" content="whisper_app:whisper" />
<meta property="og:url" content="http://whisper.sh/" />
<meta property="og:title" content="Whisper - Share Secrets, Express Yourself, Meet New People" />
<meta property="og:image" content="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0d54d5784f7124215816d51e790635e8e58.jpg" />
<meta property="og:description" content="Share your secrets, discover new worlds and make new friends on Whisper. Download the app today." />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-ipad.png" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/6e80f3e7.whisper.css">
        
          <script type="text/javascript">
            window['optimizely'] = window['optimizely'] || [];
          </script>
        
        <!-- build:js scripts/vendor/modernizr.js -->
        <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
        <!-- endbuild -->
        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("c39eea2c9ad72a79d1688ca82c50cb94");</script><!-- end Mixpanel -->
    </head>
    <body>
      <div id="fb-root"></div>
      <a href="#" class="scrollup">Scroll Up</a>
      
      <div class="page-container">
        <div class="header-container">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid brand-container">
                <div class="pull-left nav-box">
                  <a href="#main-nav" class="nav-menu-link"><img src="/images/menu-icon.png"/><p class="menu-nav">Trending</p></a>
                  <div id="main-nav" class="nav-dropdown everybox">
                    <ul class="main-pages">
                      <a href="/"><li class="active">Trending</li></a>
                      <a href="/popular"><li class="">Popular</li></a>
                      <a href="/latest"><li class="">Latest</li></a>
                    </ul>
                    
                    <ul class="trending-topics">
                      <li class="header">Trending Topics</li>
                      
                        <a href="/topics/5aa6f08a-4b21-11e3-a57e-22000afe43fe/in-college"><li>#In College</li></a>
                      
                        <a href="/topics/5ceaf8e6-4b21-11e3-a57e-22000afe43fe/justin-bieber"><li>#Justin Bieber</li></a>
                      
                        <a href="/topics/5fff49ec-4b21-11e3-a57e-22000afe43fe/awkward-moment-when"><li>#Awkward Moment When</li></a>
                      
                        <a href="/topics/601bb622-4b21-11e3-a57e-22000afe43fe/the-snow"><li>#The Snow</li></a>
                      
                        <a href="/topics/6074852c-4b21-11e3-a57e-22000afe43fe/my-job"><li>#My Job</li></a>
                      
                    </ul>
                    
                  </div>
                </div>
                <div class="pull-right">
                  <form accept-charset="UTF-8" id="search" name="search" class="form-inline">
                    <div class="input-append">
                      <input id="search-input" name="search" placeholder="Search tags or topics..." required="required" title="search" type="text" value="" class="search-field span2" autocomplete="off" />
                      <input type="image" src="/images/search_icon.png" class="btn-search" value=""/>
                      <div class="autocomplete">
                        <ul class="results topics">

                        </ul>
                        <ul class="results locations">

                        </ul>
                      </div>
                    </div>
                  </form>
                  <div class="dropdown" id="download-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#download-menu">
                      <img src="/images/smartphone.png"/>
                    </a>
                    
                      <ul class="dropdown-menu" role="menu" aria-labelledby="Download Whisper">
                        <li><a href="/download/ios">Download for iOS</a></li>
                        <li><a href="/download/android">Download for Android</a></li>
                      </ul>
                    
                  </div>
                </div>
                <a class="brand" href="/">Whisper</a>
              </div>
            </div>
          </div>
          
        </div>
        <script src="//cdn.optimizely.com/js/316802430.js"></script>



<div class="columnswrapper row-fluid">
  <div class="mainwrapper">
    <div class="span8">
      <div class="homepopular">
        <h2 class="title">Popular Whispers</h2>
        <div id="popular-list" data-load-more="/trending/whispers" data-step="10" data-swipe="false">
          <ul class="thumbnails">
            
            

<li id="popular-04f0d54d5784f7124215816d51e790635e8e58" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0d54d5784f7124215816d51e790635e8e58/in-four-words-or-less--describe-your--1-goal-in-life" class="whisper" title="In four words or less, describe your #1 goal in life" data-toggle="whisper" data-wid="04f0d54d5784f7124215816d51e790635e8e58">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0d54d5784f7124215816d51e790635e8e58.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/638539c8-4b21-11e3-a57e-22000afe43fe/goal-in-life">#goalinlife</a>
        
          <a href="/topics/6fa2188e-4b21-11e3-a57e-22000afe43fe/four-words">#fourwords</a>
        
          <a href="/topics/a24b8bf4-5ecb-11e3-b340-22000afe43fe/describe-your">#describeyour</a>
        
          <a href="/topics/5a09ace4-4b21-11e3-a57e-22000afe43fe/less">#less</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/f906f090-24f6-4a71-841d-e8c60a026146/rnr" title="Whispers near Rnr">
          <div class="location-meta">
            <p class="location">Rnr</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0d54d5784f7124215816d51e790635e8e58">2927</a>
      <a class="popular-likes button" href="#04f0d54d5784f7124215816d51e790635e8e58">944</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f0aa4f02f7d25437625823e70fcc1ffd756f" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0aa4f02f7d25437625823e70fcc1ffd756f/sometimes-i-wonder-what-would-happen-if-all-the-currency-on-earth-just-disappeared" class="whisper" title="Sometimes I wonder what would happen if all the currency on earth just disappeared" data-toggle="whisper" data-wid="04f0aa4f02f7d25437625823e70fcc1ffd756f">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0aa4f02f7d25437625823e70fcc1ffd756f.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/59e9f458-4b21-11e3-a57e-22000afe43fe/sometimes-i">#sometimesI</a>
        
          <a href="/topics/5ac8e8fc-4b21-11e3-a57e-22000afe43fe/earth">#earth</a>
        
          <a href="/topics/d9746492-4b21-11e3-a57e-22000afe43fe/the-currency">#thecurrency</a>
        
          <a href="/topics/5ae67174-4b21-11e3-a57e-22000afe43fe/disappeared">#disappeared</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/033eb4e4-8f76-11e1-848f-cfd5bf3ef515/melbourne" title="Whispers near Melbourne">
          <div class="location-meta">
            <p class="location">Melbourne</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0aa4f02f7d25437625823e70fcc1ffd756f">315</a>
      <a class="popular-likes button" href="#04f0aa4f02f7d25437625823e70fcc1ffd756f">2257</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f0d35b9b57e75155597a0efdbf5e84b3c976" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0d35b9b57e75155597a0efdbf5e84b3c976/name-a-movie-that-has-made-you-cry---" class="whisper" title="Name a movie that has made you cry!!!" data-toggle="whisper" data-wid="04f0d35b9b57e75155597a0efdbf5e84b3c976">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0d35b9b57e75155597a0efdbf5e84b3c976.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/ee4ecb08-5f4b-11e3-b340-22000afe43fe/has-made-you">#hasmadeyou</a>
        
          <a href="/topics/5ac7869c-4b21-11e3-a57e-22000afe43fe/name">#name</a>
        
          <a href="/topics/5b80aeb0-4b21-11e3-a57e-22000afe43fe/a-movie">#amovie</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/08684c6e-8f76-11e1-848f-cfd5bf3ef515/ampere" title="Whispers near Ampere">
          <div class="location-meta">
            <p class="location">Ampere</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0d35b9b57e75155597a0efdbf5e84b3c976">2396</a>
      <a class="popular-likes button" href="#04f0d35b9b57e75155597a0efdbf5e84b3c976">522</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f06f01bd612e671188a5a1cfcb2e28de74f" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f06f01bd612e671188a5a1cfcb2e28de74f/feminists-piss-me-off--if-a-guy-wants-to-hold-a-door-open-for-you--it-s-not-degrading--it-s-a-kind-gesture--" class="whisper" title="feminists piss me off. if a guy wants to hold a door open for you, it's not degrading, it's a kind gesture. " data-toggle="whisper" data-wid="04f06f01bd612e671188a5a1cfcb2e28de74f">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f06f01bd612e671188a5a1cfcb2e28de74f.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/5b28635e-4b21-11e3-a57e-22000afe43fe/a-door">#adoor</a>
        
          <a href="/topics/60225cf2-4b21-11e3-a57e-22000afe43fe/degrading">#degrading</a>
        
          <a href="/topics/63920176-4b21-11e3-a57e-22000afe43fe/feminists">#feminists</a>
        
          <a href="/topics/6718071e-4b21-11e3-a57e-22000afe43fe/piss-me">#pissme</a>
        
          <a href="/topics/fa3cc362-5ed7-11e3-b340-22000afe43fe/open-for-you">#openforyou</a>
        
          <a href="/topics/5bafe734-4b21-11e3-a57e-22000afe43fe/gesture">#gesture</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/03b84048-8f76-11e1-848f-cfd5bf3ef515/central-business-district" title="Whispers near Central Business District">
          <div class="location-meta">
            <p class="location">Central Business District</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f06f01bd612e671188a5a1cfcb2e28de74f">401</a>
      <a class="popular-likes button" href="#04f06f01bd612e671188a5a1cfcb2e28de74f">3718</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f0d27265650a888650ee10b15e94578359d7" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0d27265650a888650ee10b15e94578359d7/i-hate-my-job--my-two-immature-neighbors-and-my-boss--holy-shit-i-m-squidward--" class="whisper" title="I hate my job, my two immature neighbors and my boss. Holy shit I'm Squidward. " data-toggle="whisper" data-wid="04f0d27265650a888650ee10b15e94578359d7">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0d27265650a888650ee10b15e94578359d7.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/5cd6faee-4b21-11e3-a57e-22000afe43fe/neighbors">#neighbors</a>
        
          <a href="/topics/6fa1defa-4b21-11e3-a57e-22000afe43fe/hate-my">#hatemy</a>
        
          <a href="/topics/5a6b7014-4b21-11e3-a57e-22000afe43fe/my-boss">#myboss</a>
        
          <a href="/topics/5ebb8186-4b21-11e3-a57e-22000afe43fe/immature">#immature</a>
        
          <a href="/topics/6751259e-4b21-11e3-a57e-22000afe43fe/squidward">#squidward</a>
        
          <a href="/topics/5979ddb2-4b21-11e3-a57e-22000afe43fe/shit">#shit</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/08b2fb6a-8f76-11e1-848f-cfd5bf3ef515/groomtown" title="Whispers near Groomtown">
          <div class="location-meta">
            <p class="location">Groomtown</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0d27265650a888650ee10b15e94578359d7">68</a>
      <a class="popular-likes button" href="#04f0d27265650a888650ee10b15e94578359d7">3120</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04ef2c3b16baa1787425a64b475056bcda13ca" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04ef2c3b16baa1787425a64b475056bcda13ca/i-used-to-be-popular-but-i-gave-it-up-to-be-with-the-dorky-boy-who-i-absolutely-love--i-don-t-regret-anything---all-you-need-is-love-3" class="whisper" title="I used to be popular but I gave it up to be with the dorky boy who I absolutely love. I don't regret anything. 
All you need is love&lt;3" data-toggle="whisper" data-wid="04ef2c3b16baa1787425a64b475056bcda13ca">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04ef2c3b16baa1787425a64b475056bcda13ca.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/651c9ce0-4b21-11e3-a57e-22000afe43fe/popular">#popular</a>
        
          <a href="/topics/5a125cc2-4b21-11e3-a57e-22000afe43fe/love">#love</a>
        
          <a href="/topics/5edbd364-4b21-11e3-a57e-22000afe43fe/dorky">#dorky</a>
        
          <a href="/topics/69de014c-4b21-11e3-a57e-22000afe43fe/regret-anything">#regretanything</a>
        
          <a href="/topics/b4b7c3ea-5ec4-11e3-b340-22000afe43fe/gave-it">#gaveit</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/086f285e-8f76-11e1-848f-cfd5bf3ef515/broyhill-forest" title="Whispers near Broyhill Forest">
          <div class="location-meta">
            <p class="location">Broyhill Forest</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04ef2c3b16baa1787425a64b475056bcda13ca">91</a>
      <a class="popular-likes button" href="#04ef2c3b16baa1787425a64b475056bcda13ca">2628</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04e55a32f14ea3335075b2a785e5f653a94cf2" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04e55a32f14ea3335075b2a785e5f653a94cf2/me---mark-my-words----mark---hands-me-a-thesaurus---me---thank-you-mark---" class="whisper" title="Me: &quot;mark my words!&quot;

Mark: *hands me a thesaurus*

Me: &quot;thank you mark&quot; 
" data-toggle="whisper" data-wid="04e55a32f14ea3335075b2a785e5f653a94cf2">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04e55a32f14ea3335075b2a785e5f653a94cf2.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/336c19a2-5ed9-11e3-b340-22000afe43fe/hands-me">#handsme</a>
        
          <a href="/topics/9f40b398-4b21-11e3-a57e-22000afe43fe/mark-my-words">#markmywords</a>
        
          <a href="/topics/58e8d452-4b21-11e3-a57e-22000afe43fe/thank-you">#ThankYou</a>
        
          <a href="/topics/9a237c74-4b21-11e3-a57e-22000afe43fe/a-thesaurus">#athesaurus</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/087fa1ca-8f76-11e1-848f-cfd5bf3ef515/ghent" title="Whispers near Ghent">
          <div class="location-meta">
            <p class="location">Ghent</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04e55a32f14ea3335075b2a785e5f653a94cf2">43</a>
      <a class="popular-likes button" href="#04e55a32f14ea3335075b2a785e5f653a94cf2">2079</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f0c353b91cbe772030d9d91b36d431286cf3" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0c353b91cbe772030d9d91b36d431286cf3/my-overactive-imagination-keeps-me-up-at-night-and-absolutely-terrifies-me--" class="whisper" title="My overactive imagination keeps me up at night and absolutely terrifies me. " data-toggle="whisper" data-wid="04f0c353b91cbe772030d9d91b36d431286cf3">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0c353b91cbe772030d9d91b36d431286cf3.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/28d4b714-60a6-11e3-b340-22000afe43fe/overactive-imagination">#overactiveimagination</a>
        
          <a href="/topics/6c209580-5f50-11e3-b340-22000afe43fe/keeps-me-up-at-night">#keepsmeupatnight</a>
        
          <a href="/topics/5b432e46-4b21-11e3-a57e-22000afe43fe/terrifies-me">#terrifiesme</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/088d3394-8f76-11e1-848f-cfd5bf3ef515/long-view" title="Whispers near Long View">
          <div class="location-meta">
            <p class="location">Long View</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0c353b91cbe772030d9d91b36d431286cf3">75</a>
      <a class="popular-likes button" href="#04f0c353b91cbe772030d9d91b36d431286cf3">1931</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f08b0caf8b187940084b5997dd193abba099" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f08b0caf8b187940084b5997dd193abba099/tonight-i-relapsed--i-downloaded-candy-crush-again--and-i-lost-all-self-respect-for-myself--" class="whisper" title="Tonight I relapsed. I downloaded candy crush again. And I lost all self respect for myself. " data-toggle="whisper" data-wid="04f08b0caf8b187940084b5997dd193abba099">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f08b0caf8b187940084b5997dd193abba099.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/5a3392c0-4b21-11e3-a57e-22000afe43fe/myself">#myself</a>
        
          <a href="/topics/5c3585ce-4b21-11e3-a57e-22000afe43fe/self">#self</a>
        
          <a href="/topics/60191066-4b21-11e3-a57e-22000afe43fe/candy">#candy</a>
        
          <a href="/topics/67088730-4b21-11e3-a57e-22000afe43fe/tonight-i">#tonighti</a>
        
          <a href="/topics/5b286ff2-4b21-11e3-a57e-22000afe43fe/crush">#crush</a>
        
          <a href="/topics/5ac96d7c-4b21-11e3-a57e-22000afe43fe/respect">#respect</a>
        
          <a href="/topics/5837f806-5ebf-11e3-b340-22000afe43fe/again-and-i">#againandi</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/08c48a60-8f76-11e1-848f-cfd5bf3ef515/hamilton" title="Whispers near Hamilton">
          <div class="location-meta">
            <p class="location">Hamilton</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f08b0caf8b187940084b5997dd193abba099">55</a>
      <a class="popular-likes button" href="#04f08b0caf8b187940084b5997dd193abba099">1240</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>


<li id="popular-04f0d2f56e330f2809759fb7dd101287685b4c" class="whisperblock">
  <div class="thumbnail whisper-section everybox">
    <a href="/whispers/04f0d2f56e330f2809759fb7dd101287685b4c/i-have-a-higher-chance-of-finding-waldo-than-a-boyfriend-" class="whisper" title="I have a higher chance of finding Waldo than a boyfriend " data-toggle="whisper" data-wid="04f0d2f56e330f2809759fb7dd101287685b4c">
      <img src="http://wac.a89c.edgecastcdn.net/80A89C/whisper.sh/whisper.sh/04f0d2f56e330f2809759fb7dd101287685b4c.jpg">
    </a>
    <p class="meta-tags">
      
        
          <a href="/topics/606a634e-4b21-11e3-a57e-22000afe43fe/finding">#finding</a>
        
          <a href="/topics/5cd720e6-4b21-11e3-a57e-22000afe43fe/a-boyfriend">#aboyfriend</a>
        
          <a href="/topics/821174e2-4b21-11e3-a57e-22000afe43fe/have-a-higher-chance">#haveahigherchance</a>
        
          <a href="/topics/748bcf20-4b21-11e3-a57e-22000afe43fe/waldo">#waldo</a>
        
      
    </p>
    <div class="meta">
      
        <div class="post-location button">
          <a href="/places/08ccb5aa-8f76-11e1-848f-cfd5bf3ef515/stow" title="Whispers near Stow">
          <div class="location-meta">
            <p class="location">Stow</p>
          </div>
          </a>
        </div>
      
      <a class="popular-replies button" href="#04f0d2f56e330f2809759fb7dd101287685b4c">75</a>
      <a class="popular-likes button" href="#04f0d2f56e330f2809759fb7dd101287685b4c">1837</a>
    </div>
    <div class="share-buttons vertical">
  </div>
  </div>
  <div class="previous">
    <a href class="previous-whisper">
      <div class="everyshadow previous-bg">
        <div class="previous-icon"></div>
      </div>
    </a>
  </div>
  <div class="next">
    <a href class="next-whisper">
      <div class="everyshadow next-bg">
        <div class="next-icon"></div>
      </div>
    </a>
  </div>
</li>

            
          </ul>
          
            <a class="btn btn-large loadmore" href="#"><span>Load More</span></a>
          
        </div>
      </div>
    </div>

    
      <div class="span4">
  <div class="stories">
    <ul class="trending-topics"><li class="header">Trending Tags</li>
    
      <li class="story">
        <a class="story-link" href="/topics/5aa6f08a-4b21-11e3-a57e-22000afe43fe/in-college" title"In College" >#In College
         <!--  <div class="story-bg" style="background:url('http://dsz2jgmemlsin.cloudfront.net/04d27d987de7f897580096b099815691cd4a89.jpg');background-size:cover;"></div> -->
          <!-- <div class="caption">#In College</div> -->
        </a>
      </li>
    
      <li class="story">
        <a class="story-link" href="/topics/5ceaf8e6-4b21-11e3-a57e-22000afe43fe/justin-bieber" title"Justin Bieber" >#Justin Bieber
         <!--  <div class="story-bg" style="background:url('http://dsz2jgmemlsin.cloudfront.net/04d27d987de7f897580096b099815691cd4a89.jpg');background-size:cover;"></div> -->
          <!-- <div class="caption">#Justin Bieber</div> -->
        </a>
      </li>
    
      <li class="story">
        <a class="story-link" href="/topics/5fff49ec-4b21-11e3-a57e-22000afe43fe/awkward-moment-when" title"Awkward Moment When" >#Awkward Moment When
         <!--  <div class="story-bg" style="background:url('http://dsz2jgmemlsin.cloudfront.net/04d27d987de7f897580096b099815691cd4a89.jpg');background-size:cover;"></div> -->
          <!-- <div class="caption">#Awkward Moment When</div> -->
        </a>
      </li>
    
      <li class="story">
        <a class="story-link" href="/topics/601bb622-4b21-11e3-a57e-22000afe43fe/the-snow" title"The Snow" >#The Snow
         <!--  <div class="story-bg" style="background:url('http://dsz2jgmemlsin.cloudfront.net/04d27d987de7f897580096b099815691cd4a89.jpg');background-size:cover;"></div> -->
          <!-- <div class="caption">#The Snow</div> -->
        </a>
      </li>
    
      <li class="story">
        <a class="story-link" href="/topics/6074852c-4b21-11e3-a57e-22000afe43fe/my-job" title"My Job" >#My Job
         <!--  <div class="story-bg" style="background:url('http://dsz2jgmemlsin.cloudfront.net/04e5fb62dfb38f222287be938212f5499a4a7a.jpg');background-size:cover;"></div> -->
          <!-- <div class="caption">#My Job</div> -->
        </a>
      </li>
    
    </ul>
    <div class="ctab">
      <p>Have a phone? Get the App!</p>
        <a href="/download/ios">
          <img src="/images/btn_app.png" />
        </a>
        <a href="/download/android">
          <img src="/images/btn_play.png"/>
        </a>
    </div>
    <div class="ctab">
      <p>Show us some love</p>
      <div class="like-us-images">
        <a href="https://www.facebook.com/whisperapp">
          <img src="/images/likeus_large.png"/>
        </a>
        <a href="https://www.twitter.com/#/whisperapp">
          <img src="/images/followus_large.png"/>
        </a>
      </div>
    </div>
  </div>
</div>

    
  </div>
</div>

        <div class="push"></div>
      </div>
      
      <div id="footer">
        <div class="container-fluid">
          
          <ul class="nav">
            <li><a href="http://blog.whisper.sh">BLOG</a></li>
            <li><a href="http://whisper.sh/privacy.html">PRIVACY</a></li>
            <li><a href="https://whispertext.zendesk.com/home">SUPPORT</a></li>
            <li><a href="http://whisper.sh/jobs.html">JOBS</a></li>
            <li><a href="http://www.your-voice.org/">YOUR VOICE</a></li>
            <li><a href="/legal">LEGAL</a></li>
          </ul>
        </div>
      </div>
      
      
        <div id="whisper-details" class="modal" style="display:none">
  <div class="modal-body">
    <div class="original-whisper">
      <img src="/images/whisper-sample.jpg">
    </div>
    <div id="replies-list">
      <h2 class="replies-title">Replies</h2>
      <div id="noreplies" style="display:none;">
        <div>
          <img src="/images/icon_replies_zero.png"/>
        </div>
        <h1>Be the first to reply</h1>
        <h2>Download Whisper</h2>
        <form accept-charset="UTF-8" action="/invite" class="dm-form" method="post">
  <label>Text the link to your phone!</label>
  <div class="controls">
    <input type="text" id="dm-field" name="email" placeholder="###-###-####" required="required" value="" class="dm-field" />
    <span class="help-block error-msg" style="display:none">Something went wrong. Please check your phone number and try again.</span>
    
      <input type="hidden" class="dm-wid" name="wid" value=""/>
    
  </div>
  <div class="modal-actions">
    <input type="submit" name="dmsubmit" value="Send Link" class="btn btn-inverse">
  </div>
  <div class="control-group">
  <div class="loader" style="display:none"></div>
  </div>
</form>
        <div class="modal-actions">
          <a class="btn-app-store" href="/download/ios" title="Download the Whisper app in the App Store">Available on the App Store</a>
<a class="btn-play-store" title="Get the Whisper app on Google Play" href="/download/android">Get it on Google Play</a>
        </div>
      </div>
      <ul class="thumbnails two-columns"></ul>
      <a class="btn btn-large loadmore" href="#"><span>Load More</span></a>
    </div>
    <div class="counters">
        <span class="likes-counter">934</span>
        <span class="comments-counter">2354</span>
        <a href="#" class="title">I met my soulmate on whisper</a>
        <div class="share-buttons"></div>
    </div>
  </div>
</div>
        <div id="download-modal" class="modal" style="display:none">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/images/img_secret.png" width="230" height="230" />
    <h1>What's your secret?</h1>
    <h3>Share it on Whisper</h3>
    <div class="modal-actions">
      <a class="btn-app-store" href="/download/ios" title="Download the Whisper app in the App Store">Available on the App Store</a>
<a class="btn-play-store" title="Get the Whisper app on Google Play" href="/download/android">Get it on Google Play</a>
    </div>
  </div>
</div>
        <div id="mailing-modal" class="modal" style="display:none">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/images/icon_paper_plane.png" width="151" height="137" />
    <h2>Collect Whispers in your inbox</h2>
    <form accept-charset="UTF-8" action="http://whisper.us4.list-manage.com/subscribe/post?u=afd415388a8cbe855fb198d5c&amp;amp;id=a7200d1efa" method="post" name="mc-embedded-subscribe-form" class="form-inline">
      <div class="control-group">
        <div class="controls">
          <input id="mailing-field" name="EMAIL" placeholder="Enter you email address..." required="required" title="email" type="email" value="" class="email-field" />
          <input type="submit" name="mailing-submit" value="Submit" class="btn">
          <span class="help-block">* We will <strong>NEVER</strong> share your e-mail address with third parties.</span>
        </div>
      </div>
    </form>
  </div>
</div>
        <div id="dm-modal" class="modal" style="display:none">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1>Hey!</h1>
    <h3>The only way to reply to a whisper is to download the free app</h3>
    <form accept-charset="UTF-8" action="/invite" class="dm-form" method="post">
  <label>Text the link to your phone!</label>
  <div class="controls">
    <input type="text" id="dm-field" name="email" placeholder="###-###-####" required="required" value="" class="dm-field" />
    <span class="help-block error-msg" style="display:none">Something went wrong. Please check your phone number and try again.</span>
    
      <input type="hidden" class="dm-wid" name="wid" value=""/>
    
  </div>
  <div class="modal-actions">
    <input type="submit" name="dmsubmit" value="Send Link" class="btn btn-inverse">
  </div>
  <div class="control-group">
  <div class="loader" style="display:none"></div>
  </div>
</form>
  </div>
</div>
      
      <div id="loading-modal"  style="display:none" >
        <div class="image"></div>
        <h6>Loading...</h6>
      </div>

      <script type="text/html" id="whisper-template">
        <div class="whisper-section everybox">
          <a href="{{= link }}" title="{{=text}}" data-toggle="whisper" data-wid="{{= wid }}"><img src="{{=url}}" /></a>
          <p class="meta-tags">
          {{ if (typeof topics != 'undefined') { }}
              {{ for(var j = 0; j < topics.length; j++) { }}
                <a href="/topics/{{=topics[j].id}}/{{= topics[j].slug }}">#{{=topics[j].name}}</a>
              {{ } }}
          {{ } }}
          </p>
          <div class="meta">
            {{ if (place){ }}
              <div class="post-location button">
                <a href="{{= place.link }}" title="Whispers near {{= place.name }}">
                <div class="location-meta">
                  <p class="location">{{= place.name }}</p>
                </div>
                </a>
              </div>
            {{ } }}
            <span class="popular-replies button">{{=replies}}</span><span class="popular-likes button">{{=me2 }}</span>
          </div>
          <div class="share-buttons vertical"></div>
        </div> 
        <div class="previous">
          <a href class="previous-whisper">
            <div class="everyshadow previous-bg">
              <div class="previous-icon"></div>
            </div>
          </a>
        </div>
        <div class="next">
          <a href class="next-whisper">
            <div class="everyshadow next-bg">
              <div class="next-icon"></div>
            </div>
          </a>
        </div>
      </script>

      
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <script src="http://platform.twitter.com/widgets.js"></script>
      <script src="http://platform.tumblr.com/v1/share.js"></script>
      <script src="/scripts/c9cd55c9.whisper.js"></script>
      
      
      <!-- Google Analytics -->
      <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31833046-1']);
          _gaq.push(['_setDomainName', 'whisper.sh']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
          
      </script>

      <script type="text/javascript">
        $(document).ready(function() {
          $('.homepopular a.whisper').click(function() {
            mixpanel.track('Web-Clicked Whisper');
            console.log('Pop click');
          });
          $('#whispers-list .reply-here').click(function() {
            mixpanel.track('Web-Clicked Reply Button');
            console.log('Chat click');
          });
          mixpanel.track_forms('#noreplies input.btn', 'Web-Download Form Submit', {form:'Be First Reply'});
          var viewed_whispers = [];
          $(document).on('click', '.share-facebook', function() {
            var $parent = $(this).parents('li');
            if ($parent) {
              var wid = $parent.attr('id').split('-')[1];
              mixpanel.track('Web-Share', {network:'Facebook', wid:wid});
              console.log('Share wid: ' + wid);
            } else {
              mixpanel.track('Web-Share', {network:'Facebook'});
            }
            console.log('Clicked FB');
          });
          $(document).on('click', '.share-twitter', function() {
            var $parent = $(this).parents('li');
            if ($parent) {
              var wid = $parent.attr('id').split('-')[1];
              mixpanel.track('Web-Share', {network:'Twitter', wid:wid});
            } else {
              mixpanel.track('Web-Share', {network:'Twitter'});
            }
            console.log('Clicked Twitter');
          });
          $(document).on('click', '.share-tumblr', function() {
            var $parent = $(this).parents('li');
            if ($parent) {
              var wid = $parent.attr('id').split('-')[1];
              console.log('Share wid: ' + wid);
              mixpanel.track('Web-Share', {network:'Tumblr', wid:wid});
            } else {
              mixpanel.track('Web-Share', {network:'Tumblr'});
            }
            console.log('Clicked Tumblr');
          });
          $(document).on('click', '.share-pinterest', function() {
            var $parent = $(this).parents('li');
            if ($parent) {
              var wid = $parent.attr('id').split('-')[1];
              mixpanel.track('Web-Share', {network:'Pinterest', wid:wid});
            } else {
              mixpanel.track('Web-Share', {network:'Pinterest'});
            }
            conosle.log('Click Pin'); 
          });
          $(window).on("scroll", _.throttle(function() {
            if ($(this).scrollTop() > 4100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
            $('#popular-list li:in-viewport').each(function(index, item) {
              if ($.inArray($(item).attr('id'), viewed_whispers) == -1) {
                viewed_whispers.push($(item).attr('id'));
                var paths = window.location.pathname.split('/');
                var topic = paths[paths.length - 1];
                console.log('Tracked');
                mixpanel.track('Web-Viewed Whisper', {page:"Trending"});
              }
            });
          }, 100));
        });
        var handleSidebar = document.location.pathname.indexOf('stories') != -1;
        if (handleSidebar) {
          var $sidebar = $('.span4 .stories');
          var originalTop = $sidebar.offset().top;
          var fixed = false;
          $sidebar.css('position', 'initial');
        }
        $(window).on("scroll", function() {
          var $whisper = $('.whisperblock:in-viewport').first();
          var $share = $whisper.find('.share-buttons.vertical');
            if ($whisper && $whisper.offset() && $share) {
              var top = $(document).scrollTop() + 55 - $whisper.offset().top;
              if (top > 478) {
                top = 478;
              } else if (top < 1) {
                top = 1;
              }
              $share.css('top', top);
            }
          if (handleSidebar) {
            if (!fixed && $(document).scrollTop() + 65 >= originalTop) {
              $sidebar.css('position', 'fixed');
              $sidebar.css('margin-top', '0');
              $sidebar.css('top','65px');
              fixed = true;
            } else if (fixed && $(document).scrollTop() + 65 < originalTop) {
              fixed = false;
              $sidebar.css('position', 'initial');
              $sidebar.css('margin-top', '39px');
              fixed = false;
            }
          }
          });
      </script>
    </body>
</html>
